doctype html
html
  head
      block head
        title= title
        link(rel='stylesheet' href='/stylesheets/index.css')
        link(rel="icon" type="image/x-icon" href="http://example.com/favicon.ico")
  body
    block content
    script(src="/javascripts/index.js")
