doctype html
html
  head
      block head
        title= title
        link(rel='stylesheet' href='/stylesheets/index.css')
  body
    block content

       script(type="module" src="/javascripts/index.js")
