extends layout.pug

block content
  div#taskDeletePage
    div
      h1(class='deleteTaskMessage') Proceed with deleting this task?
    div
      form(action=`/delete/${task.id}` method='post')
        input(type='hidden' name='_csrf' value=csrfToken)
        button(class='deleteTaskConfirm' type='submit') Yes, delete Task.
        a(class='CancelDeleteTask' href=`/` role='button') Cancel

