extends layout.pug

block content
 
  div(class='py-4')
    p Proceed with deleting this task?
  div
    form(action=`/delete/${task.id}` method='post')
      input(type='hidden' name='_csrf' value=csrfToken)
      button(class='api-button' type='submit') Delete Task?
      a(class='api-button' href=`/` role='button') Cancel