body {
  background-color: white;
}

.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

/* Control the left side */
.left {
  left: 0;
  background-color: #0060bf;
}

/* Control the right side */
.right {
  right: 0;
  background: white;
}

#header {
  color: white;
}

/* #form {
  width: 100%;
  height: 36px;
  padding: 6px 12px;
  font-size: 16px;
  line-height: 1.42857143;
  color: #555555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
  box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
  -webkit-transition: border-color ease-in-out 0.15s,
    box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  box-sizing: border-box;
  text-rendering: auto;
  color: -internal-light-dark(black, white);
  letter-spacing: normal;
  word-spacing: normal;
  line-height: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  text-align: center;
  appearance: auto;
  -webkit-rtl-ordering: logical;
  cursor: text;
  background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
  margin: 0em;
  padding: 1px 2px;
  border-width: 2px;
  border-style: inset;
  border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
  border-image: initial;
  box-sizing: border-box;
  display: inline; */
/* } */

#pw-input {
  width: 100%;
  height: 36px;
  padding: 6px 12px;
  font-size: 16px;
  line-height: 1.42857143;
  color: #555555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
  box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
  -webkit-transition: border-color ease-in-out 0.15s,
    box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  box-sizing: border-box;
  text-align: center;
  display: inline;
}

button {
  margin-top: 19px;
  height: 48px;
  font-size: 20px;
  border-radius: 4px;
  font-family: MuseoSansRounded, "Helvetica Neue", Helvetica, Arial, sans-serif;
  width: 50%;
  /* padding: 10px 12px; */
  font-size: 23px;
  line-height: 1.3333333;
  border-radius: 3px;
  color: #fff;
  background-color: #009dff;
  border-color: transparent;
  margin-bottom: 0;
  font-weight: 0;
  text-align: center;
  white-space: nowrap;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  padding: 6px 12px;
  font-size: 16px;
  line-height: 1.42857143;
  border-radius: 3px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-appearance: button;
  text-transform: none;
  box-sizing: border-box;
  appearance: auto;
  text-rendering: auto;
  color: -internal-light-dark(black, white);
  letter-spacing: normal;
  word-spacing: normal;
  line-height: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  align-items: flex-start;
  cursor: default;
  box-sizing: border-box;
  background-color: -internal-light-dark(rgb(239, 239, 239), rgb(59, 59, 59));
  margin: 0em;
  padding: 1px 6px;
  border-width: 2px;
  border-style: outset;
  border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
  border-image: initial;
  -webkit-font-smoothing: antialiased;
  font-size: 20px;
  -webkit-tap-highlight-color: transparent;
  margin: 0 auto;
  display: block;
}

/* #sign-up-form {
  float: left;
} */

#firstname {
  /* text-align: center; */
  position: absolute;
  left: 34.3%;
  width: 80%;
  top: 230px;
  /* margin: 0 auto;
   display: block; */
}

#lastname {
  /* text-align: center; */
  position: absolute;
  left: 34.5%;
  width: 80%;
  top: 255px;
  /* margin: 0 auto;
  display: block; */
}

#email {
  /* text-align: center; */
  position: absolute;
  left: 37.8%;
  width: 80%;
  top: 280px;
  /* margin: 0 auto;
   display: block; */
}

#username {
  /* text-align: center; */
  position: absolute;
  left: 35%;
  width: 80%;
  top: 305px;
  /* margin: 0 auto;
   display: block; */
}

#pw {
  /* text-align: center; */
  position: absolute;
  left: 35.5%;
  width: 80%;
  top: 330px;
  /* margin: 0 auto;
  display: block; */
}

#confirm-pw {
  /* text-align: center; */
  position: absolute;
  left: 29%;
  width: 75%;
  top: 355px;
  /* margin: 0 auto; */
  display: block;
}

#signup {
  position: relative;
  top: 300px;
}
