extends layout.pug

block content
    a(href='/user/signup') Don't have an account? Sign up here.
    div.log-in-form
        h2 Been here before? Welcome back!
        if errors
            p Sorry, that wasn't a valid log in. Please try again.
        form(action='/user/login' method='post')
            input(type='hidden' name='_csrf' value=csrfToken)
            label(for='username') Username
            input(type='text' name='username' value=username placeholder='Username')
            label(for='password') Password
            input(type='password' name='password' value=password placeholder='Password')
            button Log in
